body {
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  background: #f5f8f9;
  color: #565a5f;
  -webkit-text-size-adjust: 100%;
}

//profile
#profile {
  display: inline;
  float: left;
  width: 21.53846153846154%;
  margin: 0 0.769230769230769% 0 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  #profile {
    display: block;
  }
}

//main
@media screen and (min-width: 1200px) {
  #main {
    display: inline;
    float: left;
    width: 53.507692307692314%;
    margin: 0 0.769230769230769%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  #main {
    display: inline;
    float: left;
    width: 67.6923076923077%;
    margin: 0 0.769230769230769% 0 0;
  }
}

@media screen and (min-width: 560px) and (max-width: 799px) {
  #main {
    width: 100%;
  }
}

@media screen and (max-width: 559px) {
  #main {
    width: 100%;
  }
}

//side
@media screen and (min-width: 1200px) {
  #sidebar {
    display: inline;
    float: right;
    width: 21.53846153846154%;
    margin: 0 0 0 0.769230769230769%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  #sidebar {
    display: inline;
    float: right;
    width: 29.230769230769234%;
    margin: 0 0 0 0.769230769230769%;
  }
}
