.uc-title {
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
  border-top: none;
  vertical-align: middle;
}

.money {
  color: #009688;
}

.pay-amount {
  .panel {
    cursor: pointer;

    .panel-heading {
      font-size: 22px;
    }
  }
}

.pay-channel-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    padding: 10px;
    border: 2px solid #dddddd;
    width: 200px;
    height: 70px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;

    &.active, &:hover {
      border-color: #337ab7;
    }

    img {
      height: 100%;
    }

  }
}
